<nav>
    <a href="/">Home</a>
    <a href="/pets/ourPet">Our Pets</a>
    <li class=" dropdown inline">
        <button class="btn text-white dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            Accesories
        </button>
        <ul class="dropdown-menu dropdown-menu-primary-emphasis">
            <li><a class="dropdown-item" href="/foods">Foods</a></li>
            <li><a class="dropdown-item" href="/toys">Toys</a></li>
            <li><a class="dropdown-item" href="/utilities">Utilites</a></li>
        </ul>
    </li>
    <a href="#appointment" class="m-0">Medicines</a>
    <a href="#about">About</a>
    <a href="#contact">Contact</a>
</nav>