<% layout("/layouts/boilerplate") %>

    <body>
        <br>
        <br>
        <div class="container1">
            <h3>Welcome to Happy Paws!</h3>
            <p>Find your perfect companion today. We ensure every pet finds their forever home.</p>
            <button class="search-btn">Start Adoption</button>
            <button class="search-btn"><a href="/listings/new" class="text-decoration-none text-white"> Post Your Pet
                </a>
            </button>
        </div>
        <br>
        <br>
        <h4><b>Our Pets</b></h4>
        <br>
        <div class="button-container">
            <button class=" btn-u">All</button>
            <button class=" btn-u">Cats</button>
            <button class=" btn-u">Dogs</button>
            <button class=" btn-u">Others</button>
            <select class="dropdown">
                <option value="Name">Name</option>
                <option value="Price">Price</option>
                <option value="Age">Age</option>
            </select>
        </div>
        <br>
        <div class="card-container">
            <div class="card1">
                <img src="https://cdn.pixabay.com/photo/2024/06/19/21/54/animal-8840824_640.jpg" alt="dog">
                <h5>Max</h5>
                <p>A playful dog who loves to fetch</p>
                <a href="#">Energetic</a>
                <a href="#">Friendly</a>
                <a href="#">Outdoor</a>
                <br>
                <br>
                <div>
                    &nbsp; $40 &nbsp; <button class="adopt-btn">Adopt Me</button>
                </div>
            </div>
            <div class="card1">
                <img src="https://cdn.pixabay.com/photo/2024/06/19/21/54/animal-8840824_640.jpg" alt="dog">
                <h5>Max</h5>
                <p>A playful dog who loves to fetch</p>
                <a href="#">Energetic</a>
                <a href="#">Friendly</a>
                <a href="#">Outdoor</a>
                <br>
                <br>
                <div>
                    &nbsp; $40 &nbsp; <button class="adopt-btn">Adopt Me</button>
                </div>
            </div>
            <div class="card1">
                <img src="https://cdn.pixabay.com/photo/2024/06/19/21/54/animal-8840824_640.jpg" alt="dog">
                <h5>Max</h5>
                <p>A playful dog who loves to fetch</p>
                <a href="#">Energetic</a>
                <a href="#">Friendly</a>
                <a href="#">Outdoor</a>
                <br>
                <br>
                <div>
                    &nbsp; $40 &nbsp; <button class="adopt-btn">Adopt Me</button>
                </div>
            </div>
            <div class="card1">
                <img src="https://cdn.pixabay.com/photo/2024/06/19/21/54/animal-8840824_640.jpg" alt="dog">
                <h5>Max</h5>
                <p>A playful dog who loves to fetch</p>
                <a href="#">Energetic</a>
                <a href="#">Friendly</a>
                <a href="#">Outdoor</a>
                <br>
                <br>
                <div>
                    &nbsp; $40 &nbsp; <button class="adopt-btn">Adopt Me</button>
                </div>
            </div>
        </div>
        <br>
        <br>
        <div class="offers">
            <div class="special-offer">
                <h5><b>Special Offers</b></h5>
            </div>
            <p><b>Adopt any pet this week and get a free starter kit!</b></p>
            <div class="limited-time">
                <h5><b>Limited Time Only: 48:00:00</b></h5>
            </div>
        </div>
        <br><br><br><br><br>
    </body>