* {
    padding: 0;
    margin: 0;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: aliceblue;
}

header {
    background-color: #2980b9;
    padding-bottom: 2rem;
    text-align: center;
}

header h1 {
    color: #2c3e50;
    padding-top: 3.5rem;
    padding-bottom: 1rem;
    font-size: 3.5rem;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    ;

}

header p {
    color: #2c3e50;
    font-size: 1.4rem;
}

.search-input {
    padding-left: 1rem;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    border-radius: 2rem;
    width: 25rem;
    border: none;
}

.search-btn {
    padding: 0.6rem 0.6rem;
    border-radius: 2rem;
    background-color: #2ecc71;
    border: none;
    color: white;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: 5px;
}

nav {
    background-color: #3498db;
    padding-top: 1rem;
    padding-bottom: 1rem;
    position: sticky;
    top: 0;
    z-index: 1000;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 3rem;

}

nav a:hover {
    color: #2ecc71;
    transition: ease-in 0.1s;
}

.container1 {
    border-radius: 3px;
    border: 1px solid whitesmoke;
    padding-top: 4rem;
    padding-bottom: 4rem;
    box-shadow: 0 0 4px 0;
    text-align: center;
    border-radius: 15px;
}

.container1 h3 {
    font-size: 3rem;
    color: #2980b9;
    font-weight: bold;
    padding-bottom: 1rem;
}

.container1 p {
    font-size: 1.3rem;
    padding-bottom: 1rem;
}

.container1 button {
    font-size: 1.3rem;
    padding: 1rem 3rem 1rem 3rem;
    transition: ease-in 0.1s;
}

.container1 button:hover {
    transform: translateY(-3px);
    box-shadow: 0 5px 15px rgba(45, 195, 107, 0.3);
}

main h4 {
    padding-top: 2rem;
    padding-left: 2rem;
}

.btn-u {
    border-radius: 3rem;
    padding: 0.5rem 1.2rem 0.5rem 1.2rem;
    background-color: #2ecc71;
    color: white;
    border: none;
    margin-left: 3rem;
}

.btn-u:hover {
    transition: ease-in-out 0.4s;
    background-color: orange;
}

.dropdown {
    border-radius: 10px;
    padding: 0.6rem 0.6rem;
    margin-left: 3rem;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    min-height: 200px;
    position: relative;
}

.card1 {
    border-radius: 20px;
    width: 300px;
    overflow: hidden;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    transform: 0.3s;
    box-shadow: 0.3s;
    position: relative;
    padding-bottom: 1rem;
}

.card1 img {
    width: 100%;
    height: 250px;
    object-fit: cover;

}

.adopt-btn {
    border-radius: 3rem;
    padding: 0.5rem 1.2rem 0.5rem 1.2rem;
    background-color: #2ecc71;
    color: white;
    border: none;
}

.adopt-btn:hover {
    transition: ease-in-out 0.4s;
    background-color: orange;
}

.card1 p {
    padding-left: 1rem;
    padding-top: 1rem;
}

.card1 h5 {
    font-size: 2rem;
    padding-left: 1rem;
    padding-top: 1rem;
}

.card1 h5:hover {
    transition: ease-in 0.4s;
    color: orange;
}

.card1 a {
    border: none;
    background-color: #2980b9;
    color: white;
    border-radius: 1rem;
    text-decoration: none;
    padding: 4px;
    margin-left: 1rem;
}

.offers {
    text-align: center;
    display: grid;
    justify-self: center;
    background-color: orange;
    border: 2px solid orange;
    width: 75%;
    border-radius: 2rem;
}

.special-offer h5 {
    text-align: center;
    font-size: 2.2rem;
    color: white;
    padding-top: 2rem;
    padding-bottom: 1rem;
}

.offers p {
    text-align: center;
    font-size: 1rem;
    color: white;
}

.limited-time h5 {
    text-align: center;
    font-size: 1.8rem;
    color: white;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
}

footer {
    /* position: fixed; */
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #383a3d;
}

.foot1 {
    padding-top: 1.2rem;
    color: white;
    line-height: 0.5;
}