<% layout("/layouts/boilerplate") %>

    <br>
    <br>
    <div class="container1">
        <h3>Welcome to Happy Paws!</h3>
        <p>Find your perfect companion today. We ensure every pet finds their forever home.</p>
        <button class="search-btn"><a href="/medicines/allMedicine" class="text-decoration-none text-white"> Buy
                Medicines
            </a></button>
        <button class="search-btn"><a href="/pets/newPet" class="text-decoration-none text-white"> Consult Doctor
            </a>
        </button>
    </div>
    <br>
    <br>